### zsh

## mise
eval "$(mise activate zsh)"

## Alias
alias rg="rg -M 1000 --max-columns-preview"
## Changing Directories
setopt auto_pushd
setopt pushd_ignore_dups

## Completion
fpath=({{ .brewPrefix }}/share/zsh-completions ~/.docker/completions ~/.zfunc $fpath)
autoload -U compinit
# Use cached completion dump if it exists and is less than 24 hours old, otherwise create a new one
if [[ -n ${ZDOTDIR:-$HOME}/.zcompdump(#qN.mh+24) ]]; then
  compinit -u
else
  compinit -uC
fi

eval "$(uv generate-shell-completion zsh)"

source {{ .brewPrefix }}/share/zsh-autosuggestions/zsh-autosuggestions.zsh

## Expansion and Globbing
# Filename expansion after "="
setopt magic_equal_subst

## History
HISTSIZE=100000
SAVEHIST=100000
HISTFILE=~/.zsh_history

setopt hist_ignore_dups
setopt hist_ignore_space
setopt share_history

autoload history-search-end
zle -N history-beginning-search-backward-end history-search-end
zle -N history-beginning-search-forward-end history-search-end
bindkey "^P" history-beginning-search-backward-end
bindkey "^N" history-beginning-search-forward-end

## Prompt
autoload -Uz vcs_info
setopt prompt_subst
zstyle ':vcs_info:git:*' check-for-changes true
zstyle ':vcs_info:git:*' stagedstr "%F{yellow}!"
zstyle ':vcs_info:git:*' unstagedstr "%F{red}+"
zstyle ':vcs_info:*' formats "%F{green}%c%u[%b]%f"
zstyle ':vcs_info:*' actionformats '[%b|%a]'
precmd () { vcs_info }
PROMPT='%B%/%b ${vcs_info_msg_0_}
%B%#%b '

## ZLE
bindkey "^W" kill-region

## zoxide
eval "$(zoxide init zsh)"

## zsh-syntax-highlighting (MUST be last)
source {{ .brewPrefix }}/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
