#!/bin/sh
# global-config-hash: {{ include "dot_config/mise/config.toml" | sha256sum }}
# personal-config-hash: {{ include "dot_config/mise/config.personal.toml" | sha256sum }}
# profile-hash: {{ includeTemplate "dot_config/mise/miserc.toml.tmpl" . | sha256sum }}
# repository-config-hash: {{ include (joinPath .chezmoi.workingTree "mise.toml") | sha256sum }}
set -eu

export PATH="$HOME/.local/bin:$PATH"
cd "{{ .chezmoi.workingTree }}"
mise bootstrap --only packages,repos,tools,task --yes
