#!/bin/sh
set -eu

if ! command -v mise >/dev/null 2>&1; then
    curl https://mise.run | sh
fi

{{ if eq .chezmoi.os "darwin" -}}
if ! command -v brew >/dev/null 2>&1; then
    echo "==> Installing Homebrew"
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi
eval "$({{ (joinPath .brewPrefix "bin/brew") | quote }} shellenv)"
echo "==> brew bundle"
brew bundle install --no-upgrade --file="{{ .chezmoi.workingTree }}/Brewfile"
{{ if index . "installPersonalPackages" -}}
echo "==> brew bundle (personal)"
brew bundle install --no-upgrade --file="{{ .chezmoi.workingTree }}/Brewfile.personal"
{{ else -}}
echo "==> Skipping personal Homebrew packages"
{{ end -}}
{{- else -}}
echo "==> Skipping Brewfile on {{ .chezmoi.os }}"
{{ end -}}
